<% if (totalPages > 1) { %>
  <nav class="my-5">
    <ul class="pagination justify-content-start">

      <li class="page-item">
        <a href="?page=0" class="page-link">First page</a>
      </li>

      <% for( let i = 0; i < totalPages; i++ ) { %>
      <li class="page-item <%= (i == currentPage) ? 'active' : '' %>">
        <a href="?page=<%= i %>" class="page-link"><%= i+1  %></a>
      </li>
      <% } %> 

      <li class="page-item">
        <a href="?page=<%= totalPages - 1 %>" class="page-link">Last page</a>
      </li>
    </ul>
  </nav>
<% } %>